<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons (click)="redirecionarTelaGerenciadorPessoa()" slot="start">
      <ion-button>
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Editar Pessoa</ion-title>
    <ion-buttons (click)="apresentarAlertaExclusaoRegistro()" slot="end">
      <ion-button>
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form>
    <ion-item>
      <ion-label position="floating">Nome Completo</ion-label>
      <ion-input [(ngModel)]="pessoaEntityParameter.nome" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
    <ion-button (click)="updateOne()" expand="block">Editar</ion-button>
  </form>

</ion-content>