<ion-content>

  <ion-img src="../../../assets/backgroundv.gif"></ion-img>
  <ion-text>Astatinum</ion-text>

  <ion-grid>

    <ion-row>

      <ion-col>
        <ion-button (click)="redirecionarTelaAcessar()" class="botao-princial">Acessar</ion-button>
      </ion-col>

      <ion-col>
        <ion-button (click)="redirecionarTelaRegistrar()" fill="outline">Registrar-se</ion-button>
      </ion-col>

    </ion-row>

  </ion-grid>

  <ion-label>
    <b>Astatinum Sistema Financeiro</b>
  </ion-label>

</ion-content>