ion-content {
    text-transform: initial;
    --background: #FEFEFF;
    ion-img {
        margin-top: 70px;
    }
    ion-text {
        display: flex;
        justify-content: center;
        margin-top: -80px;
        font-size: 30px;
        font-weight: bold;
        color: white;
    }
    ion-button {
        margin-top: 100px;
        display: flex;
        justify-content: center;
    }
    ion-label {
        display: flex;
        justify-content: center;
        margin-top: 60px;
        color: rgb(158, 158, 158);
    }
}

.botao-princial {
    // --background: linear-gradient(90deg, rgba(102, 126, 234, 1) 0%, rgba(100, 182, 255, 1) 100%);
    --background: linear-gradient(160deg, #086AAF 0%, #4DBCE6 100%);
    --box-shadow: none;
    position: relative;
    margin-bottom: 15px;
}

.botao-princial::after {
    content: "";
    position: absolute;
    width: 80%;
    right: 10%;
    bottom: 0;
    top: 10px;
    height: 40px;
    z-index: -1;
}