ion-header {
  ion-toolbar {
    ion-title {
      font-size: 16px;
      font-weight: bold;
    }
  }
}

ion-content {
    ion-list {
      ion-list-header {
        font-size: 15px;
        font-weight: bold;
      }
    }
  }