<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="monitoramento">
      <ion-icon name="logo-apple-ar"></ion-icon>
      <ion-label>Monitoramento</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cartao">
      <ion-icon name="card-outline"></ion-icon>
      <ion-label>Cartões</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notificacao">
      <ion-icon name="alert-circle-outline"></ion-icon>
      <ion-label>Notificações</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="configuracao">
      <ion-icon name="hammer-outline"></ion-icon>
      <ion-label>Configuração</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>

<ion-fab vertical="bottom" horizontal="center">
  <ion-fab-button routerLink="/tabmenu/pessoa">
    <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>