ion-header {
    background: transparent;
    ion-item {
        --background: transparent;
    }
}

ion-content {
    .cabecalho {
        height: 45vh;
        margin-top: -60px;
        border-radius: 0px 0px 20px 20px;
        background: linear-gradient(90deg, var(--ion-color-tertiary) 100%, var(--ion-color-primary) 100%);
        box-shadow: 0 1px 10px var(--ion-color-light);
    }
    ion-grid {
        margin-top: -220px;
        ion-col {
            ion-note {
                color: rgb(238, 238, 238);
                text-transform: uppercase;
                letter-spacing: 0.5px;
            }
            p {
                text-align: left;
                ion-chip {
                    ion-label {
                        color: white;
                        font-size: 20px;
                        font-weight: bold;
                    }
                }
            }
            ion-button {
                margin-top: 14px;
            }
        }
        ion-card {
            box-shadow: -1px 11px 13px -6px rgb(87, 86, 86);
            border-radius: 10px;
            margin: 10px 0;
            ion-card-content {
                font-weight: bold;
                letter-spacing: 0.5px;
            }
        }
        ion-list {
            background: transparent;
            ion-list-header {
                ion-label {
                    font-size: 16px;
                    font-weight: bold;
                    color: rgb(105, 105, 105);
                }
            }
            ion-item {
                // border: rgb(223, 223, 223) solid 2px;
                border-radius: 10px;
            }
        }
    }
}