<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-buttons (click)="redirecionarTelaGerenciadorPessoa()" slot="start">
      <ion-button>
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Cadastrar Pessoa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <form [formGroup]="formulario">
      <ion-item>
        <ion-label position="floating">Nome Completo</ion-label>
        <ion-input formControlName="nome" autofocus="true"></ion-input>
      </ion-item>
      <ion-button (click)="saveOne()" expand="block" size="large">Cadastrar</ion-button>
    </form>
  </ion-card>

</ion-content>
